// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.
// Check documentation for full list of Quasar variables
// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
// src/css/quasar.variables.scss
$primary: #333333d3;
$secondary: #ffcc99;
$accent: #3f3f3f9c;
$dark: #2b2b2b;
$positive: #66ff66;
$negative: #ff3333;
$info: #cfcfcfc5;
$warning: #F2C037;
$lightText: #ffff99;